# Зависимости
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Файлы окружения
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Логи
*.log
logs/

# Временные файлы ОС
.DS_Store
Thumbs.db

# Игнорируем папки IDE/редакторов
.vscode/
.idea/
*.swp
*.swo

# Скомпилированные файлы
dist/
build/
coverage/

# Дополнительно для нашего проекта
package-lock.json # Если используете yarn.lock
*.pid
*.seed
*.pid.lock